* {
	box-sizing: border-box;
	font-family: Verdana;
}

h2 {
	font-size: 20px;
	padding: 5px;
	color: #FEFEFE;
	margin: 0px;
}

#quadrants {
	width: 980px;
	height: 620px;
	/*background-color: #ccc;*/
	top: 0;
	left: 300px;
	position: absolute;
	margin-left: 15px;
}

.quadrant{
	width: 450px;
	height: 350px;
	padding: 0px;
	margin: 0 10px 10px 0px;
	background-color: #00f;
	float: left;
}

#quadA {
	background-color: rgba(154, 40, 39, 0.75);
}

#quadA h2{
	background-color: #9A2827
}

#quadB {
	 background-color: rgba(37, 67, 131, 0.75);
}

#quadB h2{
	 background-color: #254383;
}

#quadC {
	background-color: rgba(130, 149, 95, 0.75);
}

#quadC h2 {
	background-color: #82955F;
}

#quadD {
	background-color: rgba(246, 228, 158, 0.75);
}

#quadD h2{
	background-color: #E3C965;
}

.quadrantDrop {
	height: 300px;
	width: 430px;
	overflow-y: auto;
	/*background-color: #ccc;*/
}

#options {
	width: 300px;
	background-color: #669999;
	min-height: 715px;
	padding: 10px 10px 10px 10px;
	top: 0;
	left: 0;
	position: absolute;
}

.option {
	display: inline-block;
	background-color: #F5F5F5;
	padding: 3px;
	margin: 5px 10px;
	cursor: move;
	border-radius: 5px;
	font-family: Verdana;
	font-size: 12px;
}

.quadrant .option {
	/*font-size: 50%;*/
}

.button {

}

.button:hover {

}

p {
	font-size: 15px;
}

#playingField {
	width: 1280px;
	margin: 0 auto;
	padding: 0;
	background-color: #3f6;
	position: relative;
}

#checkButton {
	float: right;
}

.optionNum {
	font-weight: bold;
}